/* stylelint-disable */
@font-face {
    font-family: 'EksellDisplay';
    src: url('../fonts/EksellDisplayWeb-Medium.eot');
    src: url('../fonts/EksellDisplayWeb-Medium.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/EksellDisplayWeb-Medium.woff2') format('woff2'), 
    url('../fonts/EksellDisplayWeb-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    @include bentonReg();
    @include font-size(14);
    @include media-breakpoint-up(md) {
        @include font-size(16);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(18);
    }
    &.home {
      background-color: map-get($theme-colors, background);
    }
}

p, ol, ul, dl {
    margin-bottom: 1.7em;
}

h1,
h2,
h3 {
    font-family: 'EksellDisplay';
}

h1 {
    text-transform: capitalize;
    @include font-size(32);
    margin-bottom: 3rem;
    @include media-breakpoint-up(sm) {
        @include font-size(40);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(48);
    }
}
h2 {
    @include font-size(20);
    @include media-breakpoint-up(sm) {
        @include font-size(28);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(36);
    }
}
h3 {
    @include font-size(18);
    @include media-breakpoint-up(sm) {
        @include font-size(24);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(30);
    }
}
h4 {
  @include bentonBd();
  @include font-size(16);
  @include media-breakpoint-up(sm) {
    @include font-size(24);
  }
}

img {
  width: 100%;
  height: auto;
}

/* global link styles */
a {
  &:link, &:visited {
    color: map-get($theme-colors, link);
    text-decoration: underline;
    @include transition(all, 0.2s, linear);
  }
  &:hover {
    color: map-get($theme-colors, link-hover);
    text-decoration: none;
  }
  &:active {
    color: map-get($theme-colors, neutral);
    text-decoration: none;
  }
}

.bold, b, strong {
    @include bentonBd();
}

i, em {
    @include bentonIt();
}

i strong, i bold, em strong, em bold,
strong i, bold i, strong em, bold em {
  @include bentonBdIt();
}

/* force content into 8 columns on all secondary pages */
.wrap {
  margin-top: 3rem;
  @include media-breakpoint-up(md) {
    width:66.66%;
    margin-right: auto;
    margin-left: auto;
  }
}
/* span full width of container on homepage only */
.home .wrap {
    width: 100%;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lity-content {
  color: white;
  @include font-size(24);
  line-height: normal;
  max-width: 960px;
  margin:0 auto;
}

.share {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid map-get($theme-colors, neutral);
  .share-options {
    @include clearfix;
    .share-channel {
      display: inline-block;
      margin-right: 6px;
      a {
        color: map-get($theme-colors, text-color);
        display: block;
        border: 1px solid map-get($theme-colors, text-color);
        border-radius: 50%;
        line-height: 2;
        width: 2em;
        height: 2em;
        text-align: center;
        @include font-size(14);
        @include media-breakpoint-up(lg) {
            @include font-size(16);
        }
        &:hover {
          color: map-get($theme-colors, primary);
          border: 1px solid map-get($theme-colors, primary);
        }
      }

      &.calendar {
        float: right;
        margin-right: 0;
      }
    }
    .back-link {

    }
  }
}
/************ PAGINATION *****************/
.pagination {
  width: 100%;
  .nav-links {
    margin: 50px auto;
    span, a {
      font-size: 1.5em;
      display: inline-block;
      padding: 10px;
      @extend .bold;
    }
  }
}


footer.content-info {
  background-color: map-get($theme-colors, dark);
  color: white;
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  @extend .small;
  .container {
    opacity: .6;
  }
  h3 {
    @extend h4;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  section {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }

  .secondary {
    margin-top: 2rem;
  }
  .menu-footer-navigation-container {
    @include listReset();
    text-align: right;
    ul li {
      display: inline-block;
      margin-right: 15px;
    }
  }
}
/* stylelint-enable */