/* stylelint-disable */
/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
/** Set Fontawesome relative path **/
$fa-font-path: "~font-awesome/fonts/" !default;

$default-font-size:	18;

/* usage example: map-get($theme-colors, primary); */
$theme-colors: (
	primary: 		#2C4D53,
	background:		#E8EFF7,
	neutral: 		#A5A4A6,
	text-color:		#222222,
	dark:			#4A4A4A

);
/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$sticky-header-height: 79px;

//colors
$color-current-menu:	#033EFB;
$default-dark:			#000;
/* stylelint-enable */