/* stylelint-disable */
/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
$default-font-size:	18;
$theme-colors: (
	primary: #525ddc
);
/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$sticky-header-height: 79px;
/* stylelint-enable */