/* stylelint-disable */
/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
/** Set Fontawesome relative path **/
$fa-font-path: "~font-awesome/fonts/" !default;

$default-font-size:	18;
$theme-colors: (
	primary: #525ddc
);
/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$sticky-header-height: 79px;

//colors
$color-current-menu:	#033EFB;
$default-dark:			#000;
/* stylelint-enable */