/* stylelint-disable */
.cta {
    height: 40px;
    line-height: 40px;
    padding: 0 50px 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    text-decoration: none !important;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.2s;

    @include font-size(16);
    @include media-breakpoint-up(md) {
        border-radius: 25px;
        height: 50px;
        line-height: 50px;
        @include font-size(18);
        padding: 0 70px 0 30px;
    }
    
    &:hover {
        text-decoration: none;
    }

    &.cta-white {
        background-color: white;
        color: #222;
        &:hover {
            color: white;
            background: #222;
        }
    }
    &.cta-black {
        background-color: map-get($theme-colors, text-color);
        color: white;
        &:hover {
            color: map-get($theme-colors, text-color);
            background: white;
        }
    }
}

.cta-icon {
    position: relative;
    &:before {
        @include fa-inline-prep();
        position: absolute;
        line-height: 1;
        right: 14px;
        top: 55%;
        margin-top: -15px;
        @include font-size(26);
        @include media-breakpoint-up(md) {
            @include font-size(32);
            top: 50%;
        }
    }
    &.cta-white {
        color: #222;
    }
    &.cta-black {
        color: white;
    }
}
.cta-arrow {
    &:before {
        content: "\f105";
    }
}
.cta-download {
    &:before {
        content: "\f0ed";
    }
}
.cta-down-arrow {
    &:before {
        content: "\f107";
    }
}

/* inputs can't have pseudo-classes 
so we have to use background image to get the arrows to show up */
%cta-input-icon {
    position: relative;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 94% 42%;
}
%cta-input-arrow-white {
    @extend %cta-input-icon;
    background-image: url('images/angle-right-fff.png');
}
%cta-input-arrow-black {
    @extend %cta-input-icon;
    background-image: url('images/angle-right-000.png');
}
%cta-input-down-arrow-white {
    position: relative;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 94% 42%;
    background-image: url('images/angle-down-fff.png');
}
%cta-input-down-arrow-black {
    position: relative;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 94% 42%;
    background-image: url('images/angle-down-000.png');
}

.btn-lg, .btn-group-lg > .btn, .comment-form .btn-group-lg > input[type="submit"], .search-form .btn-group-lg > .search-submit {
    font-size: 1rem;
    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
    }
}

.search-submit {
   @extend .cta;
    @extend .cta-black;
    @extend %cta-input-arrow-white;
    &:hover {
        @extend %cta-input-arrow-black;
    }
}


/* process flow/chapter links */
$crumbs-back:#F3F5FA;
$text-color:#8093A7;
$size:20px;

.chapter-nav {    
    &__links {
        @include clearfix();

        a, span {
            display: inline-block;
            float: left;
            background: $crumbs-back;
            text-align: center;
            padding: 10px 20px 0 40px;
            position: relative;
            margin: 0 10px 0 0; 
            height: 40px;
            @include font-size(18);
            text-decoration: none;
            color: $text-color;

            &:after {
                content: "";  
                border-top: $size solid transparent;
                border-bottom: $size solid transparent;
                border-left: $size solid $crumbs-back;
                position: absolute; 
                right: -$size;
                top: 0;
                z-index: 1;
            }
            &:before {
                content: "";  
                border-top: $size solid transparent;
                border-bottom: $size solid transparent;
                border-left: $size solid #fff;
                position: absolute; 
                left: 0; 
                top: 0;
            }
            &:first-child {
                padding-left: 25px;
                border-top-left-radius: 5px; 
                border-bottom-left-radius: 5px;
                &:before {
                    display: none; 
                }
            }
            &:last-child {
                padding-right: 25px;
                border-top-right-radius: 5px; 
                border-bottom-right-radius: 5px;
                &:after {
                    display: none; 
                }
            }
            &:hover {
                background: map-get($theme-colors, primary);
                color:#fff;
                &:after {
                    border-left-color: map-get($theme-colors, primary);
                    color:#fff;
                }
            }
        }
        /* this current item */
        span {
            background: map-get($theme-colors, secondary);
            color: white;
            &:after {
                border-left-color: map-get($theme-colors, secondary);
                color:#fff;
            }
        }
    }
}