/* stylelint-disable */
/** Search form */
/*.search-form {
  @extend .form-inline;
}
*/
.search-form label {
  /*@extend .form-group;
  font-weight: normal;*/
  display: block;
}

.search-form .search-field {
  /*@extend .form-control;*/
  display: block;
  width: 100%;
}

.search-form .search-submit {
  /*@extend .btn;
  @extend .btn-secondary;*/
  display: block;
  margin-top: 10px;
}

%text-input {
	@include font-size($default-font-size);
    line-height: normal;
    padding: 10px;
    border: 1px solid map-get($theme-colors, neutral);
    border-radius: 5px;
}
/* custom forms */

#loginform,
.users-register,
.users-edit,
.af-form {
	padding: 1rem;
    background: map-get($theme-colors, background);
}
#loginform {
	label {
		display: block;
	}
	p {
		margin-bottom: 0.5rem;
	}
	input[type="text"],
	input[type="password"] {
		width: 100%;
		@extend %text-input;
	}
}

/* general input fields */
input[type="text"], 
input[type="password"], 
input[type="number"], 
input[type="search"], 
input[type="email"], 
input[type="url"], 
textarea, 
select {
	@extend %text-input;
}

input[type="submit"] {
	border:none;
	@extend .cta;
	@extend .cta-black;
	@extend %cta-input-arrow-white;
	&:hover {
		@extend %cta-input-arrow-black;
	}
}
label {
	@extend strong;
	.acf-required {
		color: red;
	}
	span {
		font-weight: normal;
	}
}
select {
	/*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}

textarea {
	width: 100%;
}

#event-listing-form {
	select {
		@extend .form-control;
	}
}
.users-register,
.users-edit {
	margin-top: 2rem;
	.acf-field {
		margin-bottom: 1rem;
		@include listReset();
		input[type="text"],
		input[type="password"] {
			width: 100%;
		}
		select {
			@extend .form-control;
		}

		ul li {
			display: inline-block;
    		margin-right: 1rem;
    		input {
    			margin-right: 10px;
    		}
    		label {
    			font-weight: normal;
    		}
		}
		.acf-error-message {
			p {
				margin: 0;
				color: red;
			}
		}
		input[readonly="readonly"] {
			@extend em;
			opacity: 0.5;
		}
	}
	.acf-field-group {
		padding: 10px 15px;
		background-color: map-get($theme-colors, background-overlay);
	}
	.acf-table {
        width: 100%;
        background-color: #c1cad4;
        tr {
        	border-bottom: 4px solid map-get($theme-colors, background-overlay);
	        td {
	            padding:10px;
	            &.acf-row-handle.order {
	                display: none;
	            }
	            &.acf-row-handle.remove {
	            	.-plus {
	            		display: none;
	            	}
	            	.-minus {
	            		position: relative;
					    width: 100%;
					    display: block;
	            		&:after {
	            			@include fa-inline-prep();
	            			content: "\f014";
					        position: absolute;
					        left: 60%;
					        top: 0;
					        @include font-size(26);
					       
	            		}
	            	}
	            }
	        }
	        &.acf-clone {
	           	display: none;
	        }
	    }
    }
    .group_non_educator_college {
    	background-color: #c1cad4;
    }
}

/* on the edit form, hide the checkboxes */
.users-edit {
	.acf-field-5bd7f0eb4cdd8,
	.acf-field-5bd7f23780d51,
	.acf-field-5bd7f3463649a,
	.acf-field-5bd7f2e174023 {
		display: none;
	}
}

.af-form {
	/*@include media-breakpoint-up(md) {
		width: 60%;
		margin: 0 auto;
	}*/
	.af-field {
		margin-bottom: 1rem;
		input[type="text"] {
			width:100%;
		}
		select {
			@extend .form-control;
		}
	}
	.af-submit {
		padding: 0;
		button {
			border:none;
			@extend .cta;
			@extend .cta-black;
			@extend %cta-input-arrow-white;
			&:hover {
				@extend %cta-input-arrow-black;
			}
		}
	}
	.af-success {
		@extend h4;
	}
	/*messages*/
	.acf-notice {
		&.-error {
			color: red;
		}
		&.-success {
			color: green;
		}
  		&.-warning {
  			color: yellow;
  		}
  	}
}
  

.post-password-form {
	* {
		display: block;
	}
}

