/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

/* general input fields */
.acf-field input[type="text"], 
.acf-field input[type="password"], 
.acf-field input[type="number"], 
.acf-field input[type="search"], 
.acf-field input[type="email"], 
.acf-field input[type="url"], 
.acf-field textarea, 
.acf-field select {
	@include font-size($default-font-size);
    line-height: normal;
    padding: 25px 10px;
}
