/* stylelint-disable */
/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

%text-input {
	@include font-size($default-font-size);
    line-height: normal;
    padding: 10px;
}
/* custom login form */
#loginform {
	padding: 1rem;
    background: map-get($theme-colors, background);
	.login-submit input {
		@extend .cta;
		@extend .cta-black;
		@extend .cta-black;
		@extend .cta-icon;
		@extend .cta-arrow;
		border:none;
	}
	label {
		display: block;
	}
	input[type="text"],
	input[type="password"] {
		width: 100%;
		@extend %text-input;
	}
}

/* custom register form */
.users-register {
	padding: 1rem;
    background: map-get($theme-colors, background);
}

/* general input fields */
input[type="text"], 
input[type="password"], 
input[type="number"], 
input[type="search"], 
input[type="email"], 
input[type="url"], 
textarea, 
select {
	@extend %text-input;
}