/* stylelint-disable */
.banner {
	.top-row {
		display: flex;
		flex-wrap:wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items:center;
		color: white;
		padding: 0 15px;
		.social {
			text-align: left;
		}
		.logo {
			text-align: center;
			img {
				width: 100%;
				max-width: 400px;
				height: auto;
			}
		}
		.navigation {
			text-align: right;
			.search {
				@include font-size(30);
				display: inline-block;
				margin-right: 15px;
				color: white;
				@include transition(all $hamburger-hover-transition-duration ease);
				&:hover {
					transform: scale($hamburger-hover-scale);
				}
			}
		}
	}
}
/* initially hide the header image, revealed with js */
.parallax-mirror {
	display: none;
}
.sticky {
	height: $sticky-header-height;
	@include clearfix;
	@include transition(background .3s ease);

   	@include media-breakpoint-up(sm) {
    	padding-top: 10px;
    	padding-bottom: 15px;
  	}
  .sticky-container {
	width: 100%;
	position: relative;
	z-index: 1999;
  }
}
.stuck {
    position: fixed;
    background-color: #000;
    -webkit-box-shadow: 0 12px 28px 0 rgba(0,0,0,.4);
    box-shadow: 0 12px 28px 0 rgba(0,0,0,.4);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
}

.hero-area {
	margin-top: -$sticky-header-height;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 200px;
    position: relative;
    .page-header {
        position: relative;
        z-index: 1;
        text-align: center;
        h1 {
            margin: 0;
            color: white;
        }
    }
    /* overlay color */
    &:after {
    	content: " ";
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: rgba(0,0,0,.56);
    }
}


.overlay-nav {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: $zindex-modal;
    background: $default-dark;
    left: 0;
    /*top: 58px;*/
    padding-top: 26px;
    @include media-breakpoint-up(sm) {
        top: 0;
    }
    
    a {
        color: white;
    }
    .row {
        justify-content: center !important;
    }
    .wrapper {
        padding: 0;
        @include make-col-ready();
        @include media-breakpoint-up(sm) {
            @include make-col(8);
            margin-top: 100px;
        }
    }
    .site-search {
        padding: 0;
        border-bottom: 2px solid white;
        position: relative;
        margin-bottom: 45px;
        label {
            margin-bottom: 0;
            width: 100%;
        }
        .search-field {
            background: transparent;
            color: white;
            width: 100%;
            border:none;
            padding:0 10px 0;
            @include font-size(17);
            @include media-breakpoint-up(md) {
                @include font-size(22);
            }
            @include media-breakpoint-up(lg) {
                @include font-size(28);
            }
        }
        .search-submit {
            display: none;
        }
        .search-field:focus {
            color: white;
            background-color: transparent;
            border-color: transparent;
            outline: none;
        }
        .search-field::-webkit-input-placeholder {
            color: white;
        }
        .search-field:-moz-placeholder {
            color: white;
            opacity: 1;
        }
        .search-field::-moz-placeholder {
            color: white;
            opacity: 1;
        }
        .search-field:-ms-input-placeholder {
            color: white;
        }
        .search-field::placeholder {
            color: white;
        }
    }
    .menu-main-navigation-container {
        margin-bottom: 30px;
        .menu {
            list-style: none;
            padding: 0;
            li {
                @include font-size(17);
                @include bentonBd();
                @include media-breakpoint-up(md) {
                    @include font-size(24);
                }
                @include media-breakpoint-up(lg) {
                    @include font-size(34);
                }
                border-bottom: 1px solid white;
                a {
                    display: inline-block;
                    padding: 0 10px 0;
                    width: 100%;
                    line-height: 50px;
                    @include media-breakpoint-up(md) {
                        line-height: 60px;
                    }
                    @include media-breakpoint-up(lg) {
                        line-height: 77px;
                    }
                }
                &.current-menu-item {
                    a {
                        color: $color-current-menu;
                    }
                }
            }
            .menu-item-has-children {
                ul {
                    display: none;
                }
                a {
                    position: relative;
                }
                a:before {
                	@include fa-inline-prep();
                    transition: all 0.3s;
                    font-size: 25px;
                    line-height: 1;
                    color: white;
                    
                    content: "\f105";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -13px;
                }
            }
            .menu-item-has-children.open {
                a:before {
                    -ms-transform: rotate(90deg);
                    /* IE 9 */
                    -webkit-transform: rotate(90deg);
                    /* Chrome, Safari, Opera */
                    transform: rotate(90deg);
                }
            }
            .sub-menu {
                list-style: none;
                padding: 0 0 10px 17px;
                li {
                    border: 0;
                    @include bentonReg();
                    @include font-size(14);
                    line-height: 2;
                    @include media-breakpoint-up(md) {
                        @include font-size(18);
                    }
                    @include media-breakpoint-up(lg) {
                        @include font-size(24);
                    }
                    a {
                        line-height: 2;
                    }
                    a:before {
                        display: none;
                    }
                }
            }
        }
    }
}