/* stylelint-disable */


/* lessons listing on home page */
.lesson-plans {
	position: relative;
	&__header {
		text-align: center;
		padding-top: 4rem;
		padding-bottom: 0;
	    @include media-breakpoint-up(lg) {
	    	padding-top: 2rem;
	    }
	}
	&__teaser {
		@include make-col-ready();
		@include media-breakpoint-up(md) {
		  	@include make-col(8);
		   	@include make-col-offset(2);
		}
	}
	&__listing {
		.listing-grid {
			margin-top: 2rem;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			.lesson-card {
				width: 48%;
				margin-bottom: 2rem;
				margin-right: 4%;
				&:nth-child(2n) {
					margin-right: 0;
				}
				@include media-breakpoint-up(md) {
					width: 32%;
					margin-right: 2%;
					&:nth-child(2n) {
						margin-right: 2%;
					}
					&:nth-child(3n) {
						margin-right: 0;
					}
				}
				@include media-breakpoint-up(lg) {
					width: 23%;
					margin-right: 2.66666%;
					&:nth-child(2n),
					&:nth-child(3n) {
						margin-right: 2.66666%;
					}
					&:nth-child(4n) {
						margin-right: 0;
					}
				}
				a {
					&:hover {
						img {
							opacity:0.5;
						}
					}
				}
				h4 {
					margin-top: 1rem;
					a {
			    		color: map-get($theme-colors, text-color);
			    	}
				}
			}
		}
		
	}
	.carousel {
		position: relative;
		display: flex;
  		flex-wrap: nowrap;
  		overflow-x: auto;
  		-webkit-overflow-scrolling: touch;
  		/*&::-webkit-scrollbar {
  			display: none;
  		}*/
  		
  		.slick-arrow {
  			position: absolute;
		    height: 40px;
		    width: 40px;
		    
            top: 5px;
            left: 50%;
            background: #fff;
		    overflow: hidden;
		    border-radius: 50%;
		    z-index: 10;
		    box-shadow: 0 4px 6px rgba(0,0,0,.15);
		    border: 0;
		    font-size: 0;
		    line-height: 0;
		    -webkit-transition: all .2s;
		    -o-transition: all .2s;
		    transition: all .2s;

		    &.slick-disabled {
		    	opacity: 0.5;
		    }
		    &:hover {
		    	background: map-get($theme-colors, text-color);
		    	&:before {
		    		color: #fff;
		    	}
		    }

            &.slick-prev {
            	text-indent: -4px;
	            margin-left: -50px;
	            &:before {
	            	content: "\F104";
	            }
	        }
	        &.slick-next {
	        	text-indent: 4px;
	            &:before {
	            	content: "\F105";
	            }
	        }
	        &:before {
	        	font-family: FontAwesome;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    text-indent: 0;
			    font-size: 30px;
			    line-height: 1;
			    color: map-get($theme-colors, text-color);
	        }
        }

        .slick-list {
        	margin-top: 60px;
        }
  		.slick-slide {
  			margin-right:10px; 
  		}


		.slide-card {
			@include transition(background, 0.3s, ease);
			padding: 15px;
			margin-right: 0;
			width: 350px;
			/*&:hover {
				background:map-get($theme-colors, primary);
			}*/
		    img {
		    	width: 100%;
		    	height: auto;
		    }
		    h4 {
		    	padding-top: 1rem;
		    	padding-bottom: 1rem;
		    }
		    a.cta {
		    	visibility: hidden;
		    }
		}
	}
}

/* Lessons Listing Page */
.template-lessons-listing {
	.dropdown {
		margin-bottom: 2rem;
		button {
			width: 100%;
			text-align: left;
			&:after {
				right: 15px;
			    position: absolute;
			    top: 40%;
			}
		}
		.dropdown-menu {
			width: 100%;
			z-index: 5000;
			.dropdown-item {
				white-space: pre-wrap;
				width: 100%;
			}
		}
	}
}

/* single lesson plan page */
.single-lessons {
	.hero {
		%link-style {
			color: white;
			text-decoration: underline;
			&:hover {
				color: map-get($theme-colors, text-color);
			}
		}
		background-color: map-get($theme-colors, primary);
		padding-top: 15px;
		padding-bottom: 15px;
		h1, h2, h3, h4, .post-header {
			color: white;
		}

		.post-header {
			padding-top: 15px;
			@include media-breakpoint-up(md) {
				padding-top: 0;
			}
		}

		.row {

		}

		.featured-image {
			height: 100%;
			min-height: 350px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			img {
				width: 100%;
				height: auto;
			}
		}
		.featured-image--caption {
			color: white;
		}
		.no-featured-image {
			text-align: center;
		}
		.post-links {
			@include listReset();
			ul {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				li {
					&:first-child {
						margin-right:15px;
					}
				}
			}
		}
		.all {
			@extend %link-style;
		}
		.post-themes {
			margin-top: 2.222rem;
			a {
				@extend %link-style;
			}
		}
	}
}
