/* stylelint-disable */
/*******************************************************/
/*  GEOGRAPHY QUIZES. **********************************/
.answer-overlay {
	position: relative;
	width: 650px !important;
	margin: 0 auto;
	.answer-option {
		position: absolute;
	}
}
/***  //END GEOGRAPHY QUIZES **************************/
/*******************************************************/

.featured-image--caption {
	@extend %small;
	margin-top: 10px;
	opacity: .6;
}

.entry-content {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.post-themes {
	@include listReset();
	ul li {
		padding: 0
	}
}


.card-shadow {
	-webkit-box-shadow: 0 0 28px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 28px 0 rgba(0,0,0,.3);
}
.content-wrapper {
	position: relative;
	background-size: cover;
	&:after {
		@extend %gradient-overlay;
	}
	margin-top: 30px;
	@include media-breakpoint-up(md) {
		height: 100%;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 0;
	}

	@extend .card-shadow;

	.content-card {
		height: 100%;
		position: relative;
		z-index: 2;
		padding: 15px;
		position: relative;
		display: flex;
    	flex-direction: column;
    	justify-content: space-between;
		&__title {
			@include font-size(18);
			@include media-breakpoint-up(xl) {
				@include font-size(30);
			}
		}
		&__image {

		}
		&__link {
			align-self: flex-start;
		}
	}
}

.features {
	align-items: stretch;
	position: relative;
	.content-wrapper {
		position: relative;
		background-size: cover;
		background-position: center;
	}
	.content-card {
		a {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}
	&__primary {
		color: white;
		position: relative;
		margin-top: -150px;
		z-index: 200;
		.content-card {
			justify-content: space-between;
		}
	}
	&__secondary {
		margin-top: 30px;
		.content-card {
			justify-content: flex-end;
		}
		.content-wrapper {
			justify-content: flex-end;
			&:after {
				background: rgba(255,255,255,.56);
			}
		}

		.feature {
			text-align: center;
			color: map-get($theme-colors, text-color);
			@include media-breakpoint-up(lg) {
				height: 350px;
			}
			a {
				align-self: center !important;
			}
		}
	}
	&__supporting {
		margin-top: 4rem;
		.content-card {
			justify-content: flex-end;
		}
		.feature {
			text-align: center;
			color: white;
			@include media-breakpoint-up(lg) {
				height: 400px;
			}
			a {
				align-self: center !important;
			}
		}
	}
}


/* THEME Listing and Theme results listing pages */
.categories-listing {
	@include media-breakpoint-up(xl) {
		width: 60%;
		margin: 0 auto;
	}
	.category {
		margin-bottom: 1rem;
		h4 {
			display: inline;
		}
		.category__count {
			display: inline-block;
		    background: map-get($theme-colors, primary);
		    border-radius: 16px;
		    padding: 3px 11px 4px 11px;
		    margin-top: -3px;
		    position: relative;
		    color: white;
		    height: 30px;
		    width: auto;
		    text-align: center;
		}
	}
}

.media_resources--listing {
	.media_resources--item {
		margin-bottom: 1rem;
		.media_resource {
			&--title {
				@include bentonBd();
			}
			&--attribution {
				color: map-get($theme-colors, neutral);
			}
		}
	}
	/*&.films {
		.media_resources--item {
			.media_resource {
				&--attribution {
					@include bentonBd();
					color: map-get($theme-colors, text-color);
				}
			}
		}
	}*/
}

.entry-content {
	ul, ol {
		li {
			margin-bottom: 1rem;
		}
	}
}

