/* stylelint-disable */
/*******************************************************/
/*  GEOGRAPHY QUIZES. **********************************/
.answer-overlay {
	position: relative;
	width: 650px !important;
	margin: 0 auto;
	.answer-option {
		position: absolute;
	}
}


/***  //END GEOGRAPHY QUIZES **************************/
/*******************************************************/
