/* stylelint-disable */


/* Survivors, testimonies listing page */
.survivors-listing,
.testimonies-listing,
.artifacts-listing {
	@include listReset();
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		img {
			width: 100%;
			height: auto;
		}
		li {
			width: 49%;
			@include media-breakpoint-up(sm) {
				width: 30%
			}
			@include media-breakpoint-up(md) {
				width:23%;
			}
		}
	}
	.survivor, 
	.testimony,
	.artifact {
		text-align: center;
		h4 {
			margin-top: 1rem;
		}
	}
}

.testimonies-listing,
.artifacts-listing {
	ul li {
		&:first-child,
		&:nth-child(2) {
			@include media-breakpoint-up(md) {
				width:49%;
			}
		}
	}
}

/* Single Survivor page */
.single-survivor_story {
	.resources {
		border-bottom: 1px solid map-get($theme-colors, neutral);
	    border-top: 1px solid map-get($theme-colors, neutral);
	    margin-top: 2rem;
	    padding: 1rem 0;
	    &__link {
	    	display: inline-block;
	    	margin-right: 30px;
	    }
	}
	.page-nav {
		b span {
		background-color: map-get($theme-colors, secondary);
		}
		h4 {
			display: inline-block;
	    	margin-right: 20px;
	    	vertical-align: text-top;
		}
	}
	
}

